@charset "utf-8";

/* common */

html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4% 0;
}

/* header */

#header {
  padding-top: 114px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  width: 120px;
  line-height: 0px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li {
  display: flex;
  gap: 30px;
}

.nav-list a:hover {
  opacity: 0.7;
}

.nav-list img {
  width: 20px;
}

/* main */

#main {
  padding-top: 120px;
}

.main-visual img {
  height: 420px;
  object-fit: cover;
}

#mvsp {
  display: none;
}

#main .container {
  padding-top: 87px;
}

.section-title {
  margin-bottom: 64px;
  font-size: 1.5rem;
  text-align: center;
}

.about-list li + li {
  margin-top: 32px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
  text-align: center;
}

.works-list > li {
  width: calc((100% - 48px) / 3);
}

.works-list > li > ul {
  margin-top: 24px;
}

.works-list img {
  object-fit: cover;
}

.works-list a {
  text-decoration-line: underline;
}

.works-list a:hover {
  opacity: 0.7;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  border-top: rgb(211, 211, 211) solid 1px;
}

.news-list dt {
  width: 20%;
  border-bottom: rgb(211, 211, 211) solid 1px;
  padding: 16px 16px;
}

.news-list dd {
  width: 80%;
  border-bottom: rgb(211, 211, 211) solid 1px;
  padding: 16px 16px;
}

  #contact > p {
    margin-bottom: 24px;
  }

input {
  border:rgb(211, 211, 211) solid 1px;
}

textarea {
  border: rgb(211, 211, 211) solid 1px;
}

.input-box {
  display: flex;
}

.input-box label {
  width: 15%;
}

.input-box input {
  width: 85%;
  height: 44px;
}

.input-box textarea {
  width: 85%;
  height: 160px;
}

.input-box + .input-box {
  margin-top: 8px;
}

#button {
  background: #24292e;
  color: white;
  margin: 32px auto 128px;
  width: 200px;
  height: 56px;
  text-align: center;
  line-height: 54px;
}

#button:hover {
  border: 1px solid #24292e;
  background: white;
  color: #24292e;
}

#button a {
  display: block;
}

/* footer */

#footer {
  text-align: center;
  background: #24292e;
  color: white;
  font-size: 0.6rem;
  padding: 10px;
}

@media screen and (max-width: 600px) {

  #header {
    padding-top: 20px;
  }
    
  .header-box {
    display: block;
  }

  .header-title {
    margin: 0 auto 16px;
  }
  
  .nav-list {
    justify-content: center;
    gap: 20px;
  }

  .nav-list a {
    font-size: 0.8rem;
  }

  #main {
    padding-top: 20px;
  }
  
  #mvpc {
    display: none;
  }  

  #mvsp {
    display: block;
  }  

  .section-title {
    margin-bottom: 40px;
  }
    
  .works-list {
    flex-direction: column;
  }

  .works-list li {
    width: 100%;
  }

  .news-list {
    display: block;
  }
    
  .news-list dt {
    width: 100%;
    border-bottom: none;
    line-height: normal;
    padding: 16px 16px 0;
  }
  
  .news-list dd {
    width: 100%;
    border-bottom: rgb(211, 211, 211) solid 1px;
    line-height: normal;
    padding: 0 16px 16px;
  }
  
  .input-box {
    flex-direction: column;
  }
  
  .input-box label {
    width: 100%;
  }
  
  .input-box input {
    width: 100%;
  }
  
  .input-box textarea {
    width: 100%;
  }
  
  #button {
    margin-bottom: 64px;
  }
  
}